@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<button class='btn btn-info'>Info</button>
<button class='btn btn-success'>Success</button>
<button class='btn btn-warning'>Warning</button>
<button class='btn btn-danger'>Danger</button>

@section scripts {
    <script>
		$(document).ready(function(){
			$('.btn-info').click(function(){
				toastr.info('Hello World!','Title' );
			});

			$('.btn-success').click(function () {
			    toastr.success('Hello World!', 'Title');
			});

			$('.btn-warning').click(function () {
			    toastr.warning('Hello World!', 'Title');
			});

			$('.btn-danger').click(function () {
			    toastr.error('Hello World!', 'Title');
			});
		});
    </script>
}